* {
    margin:0;
    padding:0;
  }
  
  html {
    font-family: "Roboto", sans-serif;
  }
  
  header {
    height:100vh;
    background:red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:#163644 url(img/bg.jpg);
    background-blend-mode: multiply;
    background-size:cover;
    background-position:center;
  }

  
  header h1 {
    font-size: 37px;
    text-transform: uppercase;
    margin: 10px 0;
    color: white;
    font-family: "Roboto Thin", sans-serif;
    letter-spacing: 16px;
    margin-right: -16px;
}

header h1::first-letter {
	color:#FFC107;
}