html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult {
    color: white;
    padding: 7px;
}

.guesses {
    color: white;
    padding: 7px;
}