body {
    margin: 0;
    box-sizing: border-box;
    background: #222;
  }
  
  h1 {
    text-align: center;
    color: #eee;
    font-family: "Roboto Thin", sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
  }