* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .logo img {
    width: 100px;
    margin-bottom: 8px;
  }
  body {
    font-family: roboto, sans-serif;
    line-height: 1.5em;
  }
  a {
    color: black;
  }
  h2 {
    font-size: 20px;
  }
  p {
    margin: 8px 0px;
  }
  h4 {
    font-weight: normal;
  }
  .container {
    display: flex;
  }

  .leftSidebar {
    color: #f1edee;
    background: #305467;
    font-weight: bold;
    padding: 16px;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.7;
  }
  .content {
    flex: 2;
    background: #333533;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .loginScreen {
    width: 90%;
    display: flex;
  }
  .logo {
    color: #f1edee;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    background: #000;
  }
